// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #1349BD;
$light-blue: #0097FF;
$yellow: #FFDA2B;
$orange: #E67E22;
$green: #00CC9A;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: #FFB4C4;
