.panel-info>.panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    border-bottom: 1px solid transparent;
    margin-bottom: 5px;
}

.user-show {
  margin: 0 auto;
  border: 1px solid #bce8f1;
  margin-top: 5px;
  border-radius: 0.5%;
  border-width: 10px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
  color: inherit;
}
