<% @chatrooms.each do |chatroom| %>
<div class="chatroom-container" id="chatroom-<%= chatroom.id %>">
  <i class="author">
    <span><%= "#{chatroom.user.first_name} #{chatroom.user.last_name}" %></span>
    <small><%= chatroom.created_at.strftime("%a %b %e at %l:%M%p") %></small>
  </i>
<!--  <p>pe message.content pe</p> -->
</div>
<% end %>
