<div class="container">
  <div class="banner-one">
    <div class="header-one">
      <div>
        <h1>Take a break and connect with your teammates</h1>
      </div>
    </div>

    <div class="image-one">
      <img src="https://images.pexels.com/photos/3822727/pexels-photo-3822727.jpeg" alt="Image 1">
    </div>
  </div>
</div>



<div class="container-two">
  <div class="banner-two">
    <div class="image-two">
      <img src="https://images.pexels.com/photos/3932237/pexels-photo-3932237.jpeg" alt="Image 2">
    </div>
  
    <div class="header-two">
      <div>
        <h2>Enjoy a relaxing activity, get closer to your coworkers and take the most out of your break.</h2>
      </div>
    </div>
  </div>
</div>



<div class="cards-container p-5">
  <h3 class="text-center mt-5 p-5">Designed for your happiness</h3>
    <div class="cards mb-5 pb-5">
      <div class="card">
        <div class="image mt-3">
          <img src="https://i.imgur.com/WoEOBCP.png" alt="Icon 1">
        </div>
        <h5 class="m-4 pt-2"><strong>Invite your colleagues</strong></h5>
        <p class="p-2">You and your coworkers have no time to enjoy a more peaceful routine? Plan a relaxing class at your workplace with them!</p>
      </div>

      <div class="card">
        <div class="image mt-3">
          <img src="https://i.imgur.com/34BkC6Q.png" alt="Icon 2">
        </div>
        <h5 class="m-4 pt-2"><strong>Book a class</strong></h5>
        <p class="p-2">Use our app to find the perfect teacher and class! Filter them by category, location, gender and number of people who want to join.</p>
      </div>

      <div class="card">
        <div class="image mt-3">
          <img src="https://i.imgur.com/YlX9pB8.png" alt="Icon 3">
        </div>
        <h5 class="m-4 pt-2"><strong>Enjoy your break</strong></h5>
        <p class="p-2">What could be better than using your break at work to take care of yourself and create meaningful bonds with your colleagues? Enjoy!</p>
      </div>
    </div>
</div>

<div class="container-three">
  <div class="banner-three">
    <img class="d-block w-100" src="https://images.pexels.com/photos/3735505/pexels-photo-3735505.jpeg" alt="Image 3">
  </div>
</div>
