<div class="container boxes">
  <% @teachers.each do |teacher| %>
    <div class="row justify-content-between">
      <div class="col-7 mr-2 mb-3 " >
        <div class="card-deck">
          <div class="row justify-content-between">
            <div class="col-4">

              <% if teacher.photo.attached? %>
                <%= cl_image_tag teacher.photo.key, class: "teacher-avatar" %>
              <% else %>
                <i class="fas fa-user-circle fa-2x avatar text-secondary" data-toggle="dropdown"></i>
              <% end %>

              <strong><%= "#{teacher.user.first_name} #{teacher.user.last_name} - #{teacher.speciality[0]}"%></strong>

            </div>
            <br>
            <div>
              <span><%= teacher.description %></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4" style="visibility: hidden">
        <div class="card-deck">
          <span class="disabled"></span>
        </div>
      </div>
    </div>
  <% end %>
</div>
