.cards-container {
  background-color: $grey;
  color: $blue;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  margin-left: 10px;
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  margin: 30px 0;
}

.card img {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.search-card {
  width: 460px;
  height: 100px;
  border-radius: 3px;
  padding: 20px;
  border: 1px solid $light-gray;
  margin: 30px 0;
  .card-field-one {
    font-size: 12px;
    width: 40%;
    height: 80px;
    line-height: 16px;
    border-right: 1px solid $light-gray;
  }
  .card-field-two {
    font-size: 12px;
    width: 90%;
    height: 80px;
    line-height: 16px;
    border-right: 1px solid $light-gray;
  }
  .card-field-three {
    font-size: 12px;
    width: 40%;
    height: 80px;
    line-height: 16px;
  }
  .card-field-four {
    font-size: 12px;
    width: 10%;
    height: 80px;
    line-height: 16px;
  }
}

.speciality {
  font-size: 12px;
}

.location {
  font-size: 12px;
}

.datepicker {
  font-size: 12px;
}

.search-button {
  font-size: 12px;
}

.booking-card {
  width: 1000px;
  height: 480px;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 50px;
  .booking-info {
    p {
      font-size: 14px;
      color: $light-gray;
      margin-bottom: 8px;
    }
  }
  a:hover {
    color: $light-blue;
    background-color: white;
  }
}

.booking-index-card {
  width: 230px;
  height: 350px;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin: 30px 0;
  padding: 36px;
  p {
    font-size: 13px;
    color: $light-gray;
    margin-bottom: 6px;
  }
  h6 {
    font-size: 13px;
  }
  .btn {
    font-size: 12px;
  }
  a:hover {
    color: $light-blue;
    background-color: white;
  }
}

.booking-info {
  p {
    font-size: 13px;
    color: $light-gray;
    margin-bottom: 6px;
  }
}
  
.payment-card {
  width: 700px;
  height: 280px;
  border: 1px solid rgb(230,230,230);
  border-radius: 8px;
  box-shadow: 0 0 5px $light-gray;
  padding: 25px;
  margin-bottom: 50px;
  .btn {
    margin: 0 auto;
    font-size: 20px;
  }
  .payment-text {
    text-align: center;
    font-size: 20px;
  }  
 }
