.navbar {
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand .navbar-icon {
  img {
    width: 40px;
  }
}

.navbar .navbar-brand {
  h6 {
    font-weight: 700;
  }
}

.navbar .nav-item .login {
  background: $white;
  color: $light-blue;
  border-radius: 20px;
}

.navbar .nav-item .signup {
  background: $blue;
  color: white;
  border-radius: 20px;
}
